@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Bangers');

.navbar {
	color: #36A5F5;
	font-family: "Bangers", cursive, sans-serif;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: -0.3px;
}

.navbar-inverse .navbar-brand {
	color: #36A5F5;
	font-family: "Bangers", cursive, sans-serif;
	font-weight: 600;
	font-size: 30px;
	letter-spacing: -0.3px;
}